
.btn-primary {
    background-color: #3d348b;
}

.custom-btn {
    border: solid 1px #3d348b;
    color: #3d348b;
    padding: 0.62rem 1rem;
}

.custom-btn:hover {
    color: white !important;
    background: #3d348b;
}


.custom-card {
    overflow: hidden;
    max-height: 400px;
}

.custom-card > img {
    transition: all 0.5s ease;
}

.custom-card:hover > img {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.lower-section {
    padding: 10rem 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616));
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.bg-black {
    background-color: #161616 !important;
}

.bg-light {
    background-color: #f8f9fa !important;
}

a {
    outline: 0;
}

.rightcorners {
    border-radius: 0.25rem !important;
}

.notification > .modal

.main-bg {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 10rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
.custom-userimage {
    max-width: 115px !important;
    max-height: 115px !important;
}