#privatebody {
    background: url("../img/demo4.jpg") no-repeat;
    background-size: cover;
}

.idlink {
    display: block;
}

.idlink:hover > img {
    -webkit-filter: blur(2px);
    filter: blur(2px);
    transition: filter 0.2s ease-in-out;
}

.idlink:hover .custom-icon {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.profile-image {
    transition: filter 0.2s ease-in-out;
    max-width: 230px;
    max-height: 230px;
}

.no-bullet {
    list-style-type: none;
    padding-left: 0 !important;
}

.modify-icon {
    overflow: hidden !important;
    top: 50% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.custom-icon {
    font-size: 200%;
    opacity: 0;
    z-index: 999;
    transition: opacity 0.2s ease;
}

.nav-link {
    border: none !important;
}

.nav-link:hover {
    border-bottom: solid 2px #acb0bd!important;
    border-bottom-width: medium !important;
}

.nav-link.active, .nav-link.active:hover{
    border-bottom: solid 2px #3d348b !important;
    border-bottom-width: medium !important;
}

.bg-black {
    background-color: #161616 !important;
}

.gradient {
    background-image: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0), #161616);
    width: 100%;
    height: 100px;
}

.slim-card {
    max-height: 161px;
    max-width: 331px !important;
    overflow: hidden;
}