# prevent folders browsing
Options -Indexes

# rewrite url
#RewriteEngine On
#RewriteBase /
#RewriteRule ^([^/]+)$ listing.php?destination=$1&minPrice=$2&maxPrice=$3&distance=$4&duration=$5&guide=$6&level=$7
