<div class="modal fade" id="editproduct_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editmodal">Edit Product <span class="fas fa-search"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 class="text-muted">Search by Product ID</h4>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Product ID" id="product-edit">
                            <div class="input-group-append">
                                <button id="edit-search-btn" class="btn btn-primary py-0" type="button"><span class="fas fa-search"></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <label class="sr-only">Delete Product</label>
                        <input type="submit" value="DELETE" class="btn btn-outline-danger">
                    </div>
                    <div class="col-md-3 text-center">
                        <label class="sr-only">Update Product</label>
                        <input type="submit" value="UPDATE" class="btn btn-outline-primary">
                    </div>
                </div>
                <hr>
                <form  name ="editProduct" action="php/editProduct.php" enctype="multipart/form-data" method="post" class="search-form">
                    <input type="hidden" name="editproductform">
                    <div class="form-row">
                        <div class="col-md-4">
                            <div class="search-input-group-wrapper">
                                <div class="search-input-group">
                                    <label for="eid" class="input-text-label align-bottom">Product ID</label>
                                    <div class="collapse inputwrapper">
                                        <input type="text" name="eid" id="eid" placeholder="" class="" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="search-input-group-wrapper">
                                <div class="search-input-group">
                                    <label for="ename" class="input-text-label align-bottom">Product name</label>
                                    <div class="collapse inputwrapper">
                                        <input type="text" name="ename" id="ename" placeholder="" class="" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="search-input-group-wrapper">
                                <div class="search-input-group">
                                    <label for="eprice" class="input-text-label align-bottom">Product price</label>
                                    <div class="collapse inputwrapper">
                                        <input type="number" name="eprice" class="" id="eprice" placeholder="" aria-describedby="" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row px-1 mt-4">
                        <label for="edescription" class="text-primary">Product Description</label>
                        <textarea class="text-muted" name="edescription" id="edescription" cols="30"
                                  rows="5">Insert Description...</textarea>
                    </div>
                    <div class="form-row px-1 mt-4">
                        <div class="col-md-3">
                            <div class="search-input-group-wrapper">
                                <div class="search-input-group">
                                    <label for="elevel" class="input-text-label align-bottom">Level</label>
                                    <div class="collapse inputwrapper">
                                        <input type="number" name="elevel" id="elevel" placeholder="" class="" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="search-input-group-wrapper">
                                <div class="search-input-group">
                                    <label for="eMinAge" class="input-text-label align-bottom">Min Age</label>
                                    <div class="collapse inputwrapper">
                                        <input type="number" name="eMinAge" id="eMinAge" placeholder="" class="" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="search-input-group-wrapper">
                                <div class="search-input-group">
                                    <label for="edistance" class="input-text-label align-bottom">Distance</label>
                                    <div class="collapse inputwrapper">
                                        <input type="number" name="edistance" class="" id="edistance" placeholder="" aria-describedby="" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="search-input-group-wrapper">
                                <div class="search-input-group">
                                    <label for="eduration" class="input-text-label align-bottom">Duration</label>
                                    <div class="collapse inputwrapper">
                                        <input type="number" name="eduration" class="" id="eduration" placeholder="" aria-describedby="" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row px-1 mt-4">
                        <label class="text-primary">Product Image</label>
                        <div class="position-relative w-100 bg-light image-previewer" style="height: 256px">
                            <img src="" id="preview" alt="" class="d-none">
                            <label class="position-absolute bg-white" for="eimg"><span class="fas fa-file-upload text-primary"></span></label>
                            <input type="file" name="eimg" class="d-none" id="eimg" lang="en" required>
                        </div>
                    </div>
                    <div class="form-row px-1 mt-4">
                        <div class="col-6 text-center">
                            <label class="switch d-inline-block">
                                <input type="checkbox" name="eguide" id="eguide">
                                <span class="slider round"></span>
                            </label>
                            <label for="eguide" class="text-primary ml-1 d-inline">Guide</label>
                        </div>
                        <div class="col-6 text-center">
                            <label class="switch d-inline-block">
                                <input type="checkbox" id="ehousing" name="ehousing">
                                <span class="slider round"></span>
                            </label>
                            <label for="ehousing" class="text-primary ml-1 d-inline">Housing</label>
                        </div>
                    </div>
                    <div class="form-row px-1 mt-4 justify-content-center">
                        <label for="addProductBtn" class="sr-only">Add Product</label>
                        <input type="submit" id="addProductBtn"  value="Add" class="py-2 btn btn-outline-primary w-50">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>