<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Log In</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center row align-content-center">
                <form  method="post" class="form-signin col align-self-center" action="php/sign_in.php">
                    <input type="hidden" name="loginform">
                    <div class="form-group">
                        <label for="inputUsernamelog" class="sr-only">Password</label>
                        <input type="text" class="form-control" name="username" placeholder="Enter your username" id="inputUsernamelog">
                        <label for="inputPassowrdlog" class="sr-only">Password</label>
                        <input type="password" class="form-control" id= "inputPassowrdlog" name="pswd" placeholder="Type your password...">
                    </div>

                    <div class="form-row justify-content-center text-center">
                        <label class="switch d-inline-block">
                            <input type="checkbox" name="eguide" id="rememberuser" value="1">
                            <span class="slider round"></span>
                        </label>
                        <label for="rememberuser" class="text-primary ml-1 d-inline">Remember me</label>

                    </div>
                    <input type="submit" class="form-control btn-primary" value="Log In">
                </form>
            </div>
            <div class="modal-footer">
                <p class="align-content-between">Don\'t have an account? <a id="loglink" class="js-scroll-trigger" href="#signup" aria-label="Close">Sign up!</a>
            </div>
        </div>
    </div>
</div>