<form  method="post" class="form-signin" action="php/sign_in.php">
    <input type="hidden" name="loginform">
    <input type="text" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" name="username" placeholder="Enter your username">
    <label for="inputPassowrdlog" class="sr-only">Password</label>
    <input type="password" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id= "inputPassowrdlog" name="pswd" placeholder="Type your password...">
    <div class="checkbox mb3">
        <label>
            <input type="checkbox" value="Remember me">
            Remember me
        </label>
    </div>
    <input type="submit" class="form-control btn-primary" value="Log In">
</form>