<form action="listing.php" class="custom-form">
    <div class="">
        <!-- aggiungere ordina per e non mi ricordo che altro ma sicuramente qualcosa manca -->
        <div class="form-row">
            <div class="col-12">
                <div class="custom-input-group-wrapper">
                    <div class="custom-input-group">
                        <label for="description" class="input-text-label align-bottom">Location</label>
                        <div class="collapse inputwrapper">
                            <input type="text" name="destination" id="description" placeholder="" value="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-6">
                <div class="custom-input-group-wrapper">
                    <div class="custom-input-group mx-auto">
                        <label for="modal_minitemprice" class="input-text-label align-bottom">Min Price</label>
                        <div class="collapse inputwrapper">
                            <input type="number" name="minPrice" id="modal_minitemprice" placeholder="" value="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="custom-input-group-wrapper">
                    <div class="custom-input-group mx-auto">
                        <label for="modal_maxitemprice" class="input-text-label align-bottom">Max Price</label>
                        <div class="collapse inputwrapper">
                            <input type="number" name="maxPrice" id="modal_maxitemprice" placeholder="" value="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--        <div class="form-row">-->
<!--            <div class="col-6">-->
<!--                <div class="custom-input-group-wrapper">-->
<!--                    <div class="custom-input-group mx-auto">-->
<!--                        <label for="modal_dateStart" class="input-text-label align-bottom">Arrival</label>-->
<!--                        <div class="collapse inputwrapper">-->
<!--                            <input type="text" name="startDate" id="modal_dateStart" class="datepicker" placeholder="" value="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-6">-->
<!--                <div class="custom-input-group-wrapper">-->
<!--                    <div class="custom-input-group mx-auto">-->
<!--                        <label for="modal_dateEnd" class="input-text-label align-bottom">Departure</label>-->
<!--                        <div class="collapse inputwrapper">-->
<!--                            <input type="text" name="endDate" id="modal_dateEnd" class="datepicker" placeholder="" value="">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <h4 class="text-muted mt-3">Advanced Filters</h4>
        <div class="form-row">
            <div class="col-6">
                <div class="custom-input-group-wrapper">
                    <div class="custom-input-group mx-auto">
                        <label for="modal_distance" class="input-text-label align-bottom">Distance</label>
                        <div class="collapse inputwrapper">
                            <input type="number" name="distance" id="modal_distance" placeholder="" value="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="custom-input-group-wrapper">
                    <div class="custom-input-group mx-auto">
                        <label for="modal_duration" class="input-text-label align-bottom">Duration</label>
                        <div class="collapse inputwrapper">
                            <input type="number" name="duration" id="modal_duration" placeholder="" value="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row mt-3">
            <div class="col-6">
                <div class="form-row ">
                    <label class="switch d-inline-block">
                        <input type="checkbox" name="housing" id="modal_housing" value="1">
                        <span class="slider round"></span>
                    </label>
                    <label for="modal_housing" class="text-primary ml-1 d-inline">Housing</label>
                </div>
                <div class="form-row">
                    <label class="switch d-inline-block">
                        <input type="checkbox" name="guide" id="modal_guide" value="1">
                        <span class="slider round"></span>
                    </label>
                    <label for="modal_guide" class="text-primary ml-1 d-inline">Guide</label>
                </div>
            </div>
            <div class="col-6">
                <div class="dropdown">
                    <label for="modal_button_level" class="input-text-label align-bottom sr-only">Level</label>
                    <button type="button" class="form-control btn-outline-primary dropdown-toggle" id="modal_button_level" data-class="primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        level
                    </button>
                    <div class="dropdown-menu" style="position: absolute;transform: translate3d(156px, -38px, 0px);top: 0px;left: 0px;will-change: transform;">
                        <!-- Dropdown menu links -->
                        <p class="dropdown-item text-primary">select</p>
                        <p class="dropdown-item text-starter">starter</p>
                        <p class="dropdown-item text-average">average</p>
                        <p class="dropdown-item text-expert">expert</p>
                    </div>
                    <select name="level" id="level" class="d-none">
                        <option value="">select</option>
                        <option value="1">starter</option>
                        <option value="2">average</option>
                        <option value="3">expert</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-12 d-flex flex-column align-items-center position-relative">
            <div class="custom-input-group">
                <label for="modal_button_search" class="input-text-label align-bottom sr-only">Search</label>
                <button class="form-control btn-primary w-100" type = "submit" id="modal_button_search" onclick="">CERCA</button>
            </div>
        </div>
    </div>
</form>