<form action="listing.php" class="custom-form">
    <div class="form-row mx-auto">
        <div class="col-12">
            <div class="custom-input-group-wrapper">
                <div class="custom-input-group">
                    <label for="small_itemsearch" class="input-text-label align-bottom">Location</label>
                    <div class="collapse inputwrapper">
                        <input type="text" name="destination" id="small_itemsearch" placeholder="" value="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="custom-input-group-wrapper">
                <div class="custom-input-group mx-auto">
                    <label for="small_minitemprice" class="input-text-label align-bottom">Min Price</label>
                    <div class="collapse inputwrapper">
                        <input type="number" name="maxPrice" id="small_minitemprice" placeholder="" value="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="custom-input-group-wrapper">
                <div class="custom-input-group mx-auto">
                    <label for="small_maxitemprice" class="input-text-label align-bottom">Max Price</label>
                    <div class="collapse inputwrapper">
                        <input type="number" name="maxPrice" id="small_maxitemprice" placeholder="" value="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="dropleft">
                <label for="small_button_level" class="input-text-label sr-only">Level</label>
                <button type="button" class="form-control btn-outline-primary dropdown-toggle mt-3" id="small_button_level" data-class="primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    level
                </button>
                <div class="dropdown-menu" style="position: absolute;transform: translate3d(156px, -38px, 0px);top: 0px;left: 0px;will-change: transform;">
                    <!-- Dropdown menu links -->
                    <p class="dropdown-item text-primary">select</p>
                    <p class="dropdown-item text-starter">starter</p>
                    <p class="dropdown-item text-average">average</p>
                    <p class="dropdown-item text-expert">expert</p>
                </div>
                <select name="level" id="small_level" class="d-none">
                    <option value="">select</option>
                    <option value="1">starter</option>
                    <option value="2">average</option>
                    <option value="3">expert</option>
                </select>
            </div>
        </div>
        <div class="col-12 d-flex flex-column align-items-center position-relative">
            <div class="custom-input-group">
                <label for="small_button_search" class="input-text-label align-bottom sr-only">Search</label>
                <button class="form-control btn-primary w-100" type = "submit" id="small_button_search" onclick="">cerca</button>
            </div>
        </div>
    </div>
</form>