<form action="listing.php" class="search-form">
    <div class="form-row mx-auto">
        <div class="col-12">
            <div class="search-input-group-wrapper">
                <div class="search-input-group">
                    <label for="small_itemsearch" class="input-text-label align-bottom">Location</label>
                    <div class="collapse inputwrapper">
                        <input type="text" name="itemsearchID" id="small_itemsearch" placeholder="" value="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="search-input-group-wrapper">
                <div class="search-input-group mx-auto">
                    <label for="small_maxitemprice" class="input-text-label align-bottom">Max Price</label>
                    <div class="collapse inputwrapper">
                        <input type="number" name="maxitemPrice" id="small_maxitemprice" placeholder="" value="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="search-input-group-wrapper">
                <div class="search-input-group mx-auto">
                    <label for="small_dateStart" class="input-text-label align-bottom">Arrival</label>
                    <div class="collapse inputwrapper">
                        <input type="text" name="startDate" id="small_dateStart" class="datepicker" placeholder="" value="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="search-input-group-wrapper">
                <div class="search-input-group mx-auto">
                    <label for="small_dateEnd" class="input-text-label align-bottom">Departure</label>
                    <div class="collapse inputwrapper">
                        <input type="text" name="endDate" id="small_dateEnd" class="datepicker" placeholder="" value="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 d-flex flex-column align-items-center position-relative">
            <div class="search-input-group">
                <label for="small_button_search" class="input-text-label align-bottom sr-only">Search</label>
                <button class="form-control btn-primary w-100" type = "submit" id="small_button_search" onclick="">cerca</button>
            </div>
        </div>
    </div>
</form>