<form action="listing.php" class="custom-form">
    <div class="form-row mx-auto">
        <div class="col-12">
            <div class="custom-input-group-wrapper">
                <div class="custom-input-group">
                    <label for="small_itemsearch" class="input-text-label align-bottom">Location</label>
                    <div class="collapse inputwrapper">
                        <input type="text" name="destination" id="small_itemsearch" placeholder="" value="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="custom-input-group-wrapper">
                <div class="custom-input-group mx-auto">
                    <label for="small_minitemprice" class="input-text-label align-bottom">Min Price</label>
                    <div class="collapse inputwrapper">
                        <input type="number" name="maxPrice" id="small_minitemprice" placeholder="" value="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="custom-input-group-wrapper">
                <div class="custom-input-group mx-auto">
                    <label for="small_maxitemprice" class="input-text-label align-bottom">Max Price</label>
                    <div class="collapse inputwrapper">
                        <input type="number" name="maxPrice" id="small_maxitemprice" placeholder="" value="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="custom-input-group-wrapper">
                <div class="custom-input-group mx-auto">
                    <label for="small_level" class="input-text-label align-bottom">Level</label>
                    <select name="level" id="small_level" class="">
                        <option value="">select</option>
                        <option value="1">beginner</option>
                        <option value="2">intermediate</option>
                        <option value="3">expert</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-12 d-flex flex-column align-items-center position-relative">
            <div class="custom-input-group">
                <label for="small_button_search" class="input-text-label align-bottom sr-only">Search</label>
                <button class="form-control btn-primary w-100" type = "submit" id="small_button_search" onclick="">cerca</button>
            </div>
        </div>
    </div>
</form>