@import "slider";

.custom-form{
  input[type='text'], input[type='number']{
    width: 100%;
    color: $text-muted;
    background: transparent;
    border: none;
    outline: none;
  }
  textarea{
    border: none;
    border-left: solid 3px $primary;
    border-radius: 0;
    width: 100%;
    padding: 0.2rem 1rem;
    color: $gray-700;
    outline: none;
    background: white;
  }
  select {
    display: block;
    background: white;
    padding: 0.2rem;
    width: 100%;
    /* align-content: center; */
    border: none;
    border-bottom: solid 2px $primary;
  }

  &-wrapper{
    padding: 20px 20px 10px;
    margin: 20px 0;
    border: 0 solid;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.5s linear;
    border-bottom: 5px solid $primary;
  }
  .custom-input-group{
    width: 100% !important;
    height: 53px;
    vertical-align: bottom;
    display: table-cell;
    position: relative;
    &-wrapper{
      border-bottom: 2px solid $primary;
    }
    label {
      color: $primary;
      cursor: text;
      display: block;
      margin-bottom: 0 !important;
    }
    button {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  .image-previewer {
    overflow: hidden;
    img {
      width: 100%;
    }
    label {
      margin-bottom: 0;
      cursor: pointer;
      bottom: 1rem;
      right: 1rem;
      padding: .8rem .9rem;
      border-radius: 32px;
      border-bottom: solid 3px $gray-600;
      border-right: solid 3px $gray-600;
      transition: all 0.1s ease;

      &:hover {
        border-bottom: solid 2px $gray-600;
        border-right: solid 2px $gray-600;
        transition: all 0.1s ease;
      }
    }
  }
}