@import "variables";
/*
 @deprecated
.slim-card {
  max-height: 160px !important;
  @media (min-width: 768px) {
    max-height: 240px !important;
  }
  overflow: hidden;
  position: relative;

  background: rgba($gray-700, 0);
  &:hover{

  }
}

.custom-card {
  width: 75%;
  margin: auto;
  overflow: hidden;
  border: solid 4px rgba($gray-700, 0) !important;
  & > img {
    transition: all 0.5s ease;
  }
  &:hover {
    border: solid 4px rgba($gray-700, 0.3) !important;
    & > img {
      -webkit-filter: blur(1px);
      filter: blur(1px);
      cursor: pointer;
      transition: all 0.5s ease-in-out;
    }
  }
  .read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    z-index: 999;
    font-weight: bolder;
    background-image: linear-gradient(to bottom, transparent, black);
  }
}

@media (max-width: 1024px){
  .custom-card{
    width: 100%;
  }
}
*/

.bubble-box {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 1rem;
  background: white;
  justify-content: center;
  position: relative;
  font-family: 'Rubik', sans-serif !important;
  color:  $primary;
  border-bottom: solid 3px $primary;
  h4 {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
  }
  &-left {
    float: left;
    width: 100%;
    &::before {
      content: "";
      width: 0;
      height: 0;
      border-top: 60px solid transparent;
      border-bottom: 60px solid transparent;
      border-left: 60px solid white;
      position: absolute;
      bottom: -60px;
      left: 0;
    }

    &::after {
      content: "";
      width: 0;
      height: 0;
      border-top: 67px solid transparent;
      border-bottom: 67px solid transparent;
      border-left: 67px solid $primary;
      position: absolute;
      bottom: -67px;
      left: -3px;
      z-index: -1;
    }
  }
  .custom-tag {
    font-size: 12.6px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    margin: 4.5px 2px 4.5px 15px;
    color: #fff;
    padding: 2px .2rem 2px 0;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: -13px;
      top: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 9px 13px 10px 0;
    }
    &::after {
      content: '';
      position: absolute;
      right: -13px;
      top: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 9px 13px 10px 0;
    }
  }

  .custom-tag.price{
    background-color: #3E8989;
    padding-right: .5rem;
    border-top-right-radius: .1rem;
    border-bottom-right-radius: .5rem;
    &::before {
      border-color: transparent #3E8989 transparent transparent;
    }

    &::after {
      content: '$' !important;
      position: unset;
      right: unset;
      top: unset;
      width: unset;
      height: unset;
      border-style: unset;
      border-width: unset;
    }
  }

  .custom-tag.guide {
    background-color: #C2E812;
    padding-right: .5rem;
    color: #90af1e;
    &::before {
      border-color: transparent #C2E812 transparent transparent;
    }

    &::after {
      border-color: #C2E812 transparent #C2E812 transparent;
    }
  }

  .custom-tag.housing {
    background-color: #A1B5D8;
    padding-right: .5rem;
    &::before {
      border-color: transparent #A1B5D8 transparent transparent;
    }

    &::after {
      border-color: #A1B5D8 transparent #A1B5D8 transparent;
    }
  }

  .custom-tag.not-available {
    background-color: $text-muted;
    padding-right: .5rem;
    color: $white;
    &::before {
      border-color: transparent $text-muted transparent transparent;
    }

    &::after {
      border-color: $text-muted transparent $text-muted transparent;
    }
  }

  .custom-tag.starter {
    background: $starter;
    &.level::before {
      border-color: transparent $starter transparent transparent;
    }

    &.level::after {
      border-color: $starter transparent $starter transparent;
    }
  }

  .custom-tag.average {
    background: $average;
    &.level::before {
      border-color: transparent $average transparent transparent;
    }

    &.level::after {
      border-color: $average transparent $average transparent;
    }
  }

  .custom-tag.expert {
    background: $expert;
    &.level::before {
      border-color: transparent $expert transparent transparent;
    }

    &.level::after {
      border-color: $expert transparent $expert transparent;
    }
  }

  .description {
    max-height: 100px;
    overflow: hidden;
    position: relative;
    &::after {
      content: ' ';
      position: absolute;
      bottom: .25rem;
      padding: 0.8rem 5rem;
      right: 0;
      background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.5) 75%, #fff 100%);
    }
  }

  a {
    font-weight: bold;
  }
}