@import "slider";

.search-form{
  input[type='text'], input[type='number']{
    width: 100%;
    color: $text-muted;
    background: transparent;
    border: none;
    outline: none;
  }
  textarea{
    border: none;
    border-left: solid 3px $primary;
    border-radius: 0;
    width: 100%;
    padding: 0.2rem 1rem;
    color: $gray-700;
    outline: none;
  }
  select {
    display: block;
    background: white;
    padding: 0.2rem;
    width: 100%;
    /* align-content: center; */
    border: none;
    border-bottom: solid 2px $primary;
  }

  &-wrapper{
    padding: 20px 20px 10px;
    margin: 20px 0;
    border: 0 solid;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.5s linear;
    border-bottom: 5px solid $primary;
  }
  .search-input-group{
    width: 100% !important;
    height: 53px;
    vertical-align: bottom;
    display: table-cell;
    &-wrapper{
      border-bottom: 2px solid $primary;
    }
    label {
      color: $primary;
      cursor: text;
      display: block;
      margin-bottom: 0 !important;
    }
    button {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}