@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/bootstrap-grid";


html * {
  font-family: 'Raleway', sans-serif;
}

.btn-nav {
  margin-top: 0;
  margin-left: -16px;
}

.custom-btn {
  border: solid 1px #3d348b;
  color: #3d348b;
  padding: 0.62rem 1rem;
  &:hover{
    color: white !important;
    border: solid 1px $primary !important;
    background: $primary;
  }
}

.lower-section {
  padding: 10rem 0;
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  transition: 0.3s ease-in-out;
}

.bg-black {
  background-color: #161616 !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}

a {
  outline: 0;
}

.rightcorners {
  border-radius: 0.25rem !important;
}


.main-bg {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 35rem;
  padding: 10rem 0;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.custom-userimage {
  width: 150px !important;
  height: 150px !important;
  border-radius: 750px;
  transition: height 0.5s linear;
}


.callout {
  padding: 20px;
  margin: 20px 0;
  border: 0 solid;
  border-bottom-width: 5px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.5s linear;
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  &:hover {
    border-left-color: $teal !important;
    h4 {
      color: $teal !important;
    }
    transition: all 0.5s ease;
  }
}

@each $color, $value in $theme-colors{
  @for $i from 1 through 9 {
    .bg-#{$color}-transparency-#{$i} {
      background: rgba($value, $i/10);
    }
  }
}

//@each $name,$color in $colors {
//  .callout-#{$name} {
//    border-bottom-color: $color;
//    h4 {
//      color: $color;
//    }
//  }
//}

.callout-primary {
  border-left-color: $primary !important;
  h4 {
    color: $primary !important;
  }
}

.search-form{
  input[type='text'], input[type='number']{
    width: 100%;
    color: $text-muted;
    background: transparent;
    border: none;
  }
  .search-input-group{
    width: 100% !important;
    height: 53px;
    vertical-align: bottom;
    display: table-cell;
    &-wrapper{
      border-bottom: 2px solid $primary;
    }
    label {
      color: $primary;
      cursor: text;
      display: block;
      margin-bottom: 0 !important;
    }
    button {
      position: absolute;
      bottom: 0;
    }
  }
}

@media(min-width: 850px){
  .fixed-form{
    position: fixed;
    top: 50px !important;
    margin-top: 10px;
    right: 4px !important;
    width: 375px !important;
    transition: all linear 0.5s;
  }
}