@import "navbar";
@import "private_card";

.features {
  @include media-breakpoint-up(md){
    display: flex;
  }
  display: block;
  .feature-container {
    position: relative;
    background: $primary;
    color: $white;
    padding-left: 30px;
    border-radius: .2rem;
    .feature-title {
      font-weight: bold;
      &:first-letter {
        text-transform: uppercase;
      }
    }
    @include media-breakpoint-up(md){
      margin-left: 5px;
      &::before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        left: 0;
        border-bottom: 22px solid transparent;
        border-top: 22px solid transparent;
        border-left: 22px solid $white;
        top: calc(50% - 22px);
      }
      &:first-child::before {
        border-left: 22px solid transparent !important;
      }
      &::after {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        right: -20px;
        border-bottom: 20px solid transparent;
        border-top: 20px solid transparent;
        border-left: 20px solid $primary;
        top: calc(50% - 20px);
        z-index: 2;
      }
      &:last-child::after {
        border-left: 22px solid transparent !important;
      }
    }
    &.level {
      &.expert{
        background-color: $expert;
        &::after {
          border-left: 22px solid $expert;
        }
      }
      &.average {
        background-color: $average;
        &::after {
          border-left: 22px solid $average;
        }
      }
      &.starter {
        background-color: $starter;
        &::after {
          border-left: 22px solid $starter;
        }
      }
    }
    &.guide {
      background-color: $guide;
      color: #90af1e;
      &::after {
        border-left: 22px solid $guide;
      }
    }

    &.housing {
      background: $housing;
      &::after {
        border-left: 22px solid $housing;
      }
    }
  }
}

@include media-breakpoint-up(md){
  .bubble-box.round {
    border-top-right-radius: 1.2rem;
    border-bottom-left-radius: 6rem;
    padding: 3rem;
  }
}