@import "navbar";
@import "private_card";

.features {
  @include media-breakpoint-down(md){
    display: block;
  }
  display: flex;
  .feature-container {
    position: relative;
    background: $primary;
    color: $white;
    padding-left: 30px;
    border-radius: .2rem;
    .feature-title {
      font-weight: bold;
      &:first-letter {
        text-transform: uppercase;
      }
    }
    @include media-breakpoint-down(md){
      margin-bottom: 5px;
      margin-left: 0;
    }
    margin-left: 5px;
    &::before {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border-bottom: 22px solid transparent;
      border-top: 22px solid transparent;
      border-left: 22px solid $white;
      top: calc(50% - 22px);
      left: 0;
      @include media-breakpoint-down(md){
        border-right: 22px solid transparent;
        border-left: 22px solid transparent;
        border-bottom: 22px solid $white;
        left: calc(50% - 22px);
        bottom: 0;
        top: unset;
      }
    }
    &:first-child::before {
      border-left: 22px solid transparent !important;
    }
    @include media-breakpoint-down(md){
      &:first-child::after {
        border-bottom: 22px solid transparent !important;
      }
      &:last-child::before {
        border-bottom: 22px solid transparent !important;
      }
    }
    &::after {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      z-index: 2;
      border-bottom: 20px solid transparent;
      border-top: 20px solid transparent;
      border-left: 20px solid $primary;
      top: calc(50% - 20px);
      right: -20px;
      @include media-breakpoint-down(md) {
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
        border-bottom: 20px solid $primary;
        top: -40px;
        left: calc(50% - 21px);
      }
    }
    &:last-child::after {
      border-left: 22px solid transparent !important;
    }
    &.level {
      @each $name,$color in $level-colors {
        &.#{$name} {
          background-color: $color;
          &::after {
            border-left: 22px solid $color;
            @include media-breakpoint-down(md){
              border-left: 22px solid transparent;
              border-bottom: 22px solid $color;
            }
          }
        }
      }
    }
    @each $name,$color in $feature-colors {
      &.#{$name} {
        background-color: $color;
        &::after {
          border-left: 22px solid $color;
          @include media-breakpoint-down(md){
            border-left: 22px solid transparent;
            border-bottom: 22px solid $color;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(md){
  .bubble-box.round {
    border-top-right-radius: 1.2rem;
    border-bottom-left-radius: 6rem;
    padding: 3rem;
  }
}