@import "common";
@import "~bootstrap/scss/mixins";

.image-previewer {
  height: 256px;
  width: 256px !important;
  border-radius: 128px;
}

.image-loader {
  background: $white;
  color: $primary;
  bottom: unset !important;
  right: unset !important;
  padding: .8rem .9rem !important;
  border-bottom: solid 2px black !important;
  border-right: solid 2px black !important;
  transition: all 0.1s ease;
  transform: translate3d(200%, 450%, 0);
  &:hover {
    background-color: $primary !important;
    color: $white !important;
  }
}

.form-container {
  width: 100%;
  @include media-breakpoint-up(md) {
    margin-top: 10rem;
    width: 50%;
  }

  @include media-breakpoint-up(lg) {
    width: 37.5%;
  }
}